<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="navbar">
        <div class="nav-left">
            <div class="nav-webApp-name">Ankur Aditya</div>
        </div>
        <div class="nav-right">
            <div class="nav-home"><a href="./">Home</a></div>
            <div class="nav-weather"><a href="/weather.hbs">Weather</a></div>
            <div class="nav-about"><a href="/about.hbs">About Us</a></div>
        </div>
    </div>
    <div class="css404">

        <h1>Oops..404 Error occured</h1>
        <button class="btn-404 js-btn-404">Go back</button>
        <img class="img-404 "
            src="https://imgs.search.brave.com/3T_V4q94xGQq9h2Lo5eUDcEjRV2NxrvPsBrQ7dqqEGU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTY1/MTgyNTkzL3Bob3Rv/L2Vycm9yLmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz0wenho/cWZ1OUlLb1lpMVRS/WG1ETXZPdVh1c1BV/UXl5eEx4RW1JYXkt/SVYwPQ"
            alt="404">
    </div>

    <script src="./js/main-404.js"></script>
</body>

</html>