<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./style.css">

<body>
    <div class="about-us">
         <div class="navbar">
        <div class="nav-left">
            <div class="nav-webApp-name">Ankur Aditya</div>
        </div>
        <div class="nav-right">
            <div class="nav-home"><a href="./">Home</a></div>
            <div class="nav-weather"><a href="/weather.hbs">Weather</a></div>
            <div class="nav-about"><a href="/about.hbs">About Us</a></div>
        </div>
    </div>
        <p class="about-head">Welcome to our About Us page</p>
        <div class="about-img-desc">
            <img src="https://imgs.search.brave.com/Pj5gQG3WxiSjplRCyYWQBv0_hu6itnr3XDTXJ0TdjxQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE0/OTk1NDA2MzMxMjUt/NDg0OTY1YjYwMDMx/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4T0h4OGJH/VmhaR1Z5YzJocGNI/eGxibnd3Zkh3d2ZI/eDhNQT09"
                alt="" class="about-img">
            <p class="about-desc">Here we have made a Weather App using HTML, CSS, Javascript, Express and weather API
            </p>
        </div>

    </div>

</body>

</html>